h1{
color: black;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    text-align: center;

}